<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for key, value in states.items() %}
                <LI>{{ value }}: <B>{{ key }}</B>
                    <UL>
                        {%- for key1, value1 in cities.items() %}
                        {% if value1 == value %}
                        <LI>{{ city_ids[key1] }}: <B>{{ key1 }}</B></LI>
                        {% endif %}
                        {%- endfor %}
                    </UL>
                </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
